<div>
   Websocket
</div>

<!-- Enlace al cliente de Socket.IO -->
<script src="/socket.io/socket.io.js"></script>

<!-- Enlace al script principal de JavaScript -->
<script src="/js/main.js"></script>
